.product_banner {
  display: flex;
  margin: 60px 0;
  justify-content: space-between;
  color: #ffffff;
  font-family: 'Satoshi Variable', sans-serif;
}

.product_banner_title {
  font-size: 32px;
  line-height: 45px;
  width: 513px;
  padding-bottom: 41px;
}

.product_banner_content {
  background-color: #2a254b;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 464px;
  color: #ffffff;
}

.product_banner_image {
  height: 579px;
  width: 520px;
}

.product_banner_description {
  font-size: 18px;
  line-height: 27px;
}
